<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <title>Planejamento de Animes</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="app" v-cloak :class="{ isGecko }">
    <div class="fixed-menu">
      <select v-model="colorMode" @change="organize">
        <option value="name">Cores por nome</option>
        <option value="genre">Cores por gênero</option>
      </select>
      <select v-model="animelist" @change="updateAnimeUrls">
        <option value="anilist">AniList</option>
        <option value="mal">MyAnimeList</option>
      </select>
      <button @click="sidebar = 1">Recomendar anime</button>
      <button @click="sidebar = 2">Ajuda</button>
    </div>
    <transition name="slide-fade">
      <div class="sidebar" v-if="sidebar === 1">
        <h1>Qual anime recomenda?</h1>
        <input v-model="recommendedAnime" :disabled="!reccomendationEndpoint || recommendedWorking">
        <button @click="sendRecommendedAnime" :disabled="!reccomendationEndpoint || recommendedWorking">Enviar recomendação</button><br>
        <p>{{ recommendedMessage }}</p>
        <hr>
        <p v-if="!reccomendationEndpoint">
          Essa função está desativada temporariamente por problemas técnicos.<br>
          <a href="https://anilist.co/user/qgustavor/">Deixe uma mensagem no AniList.</a>
        </p>
        <p v-else>
          Você pode também <a href="https://anilist.co/user/qgustavor/">deixar uma mensagem no AniList.</a>
        </p>
        <button @click="sidebar = null">Fechar</button>
      </div>
    </transition>
    <transition name="slide-fade">
      <div class="sidebar" v-if="sidebar === 2">
        <h1>Ajuda</h1>
        <button @click="sidebar = null">Fechar ajuda</button>
        <p>Este planejamento funciona de forma parecida com um gráfico de Gantt: cada barra representa um anime e está posicionado na ordem que foi ou será assistido.</p>
        <p>O eixo horizontal representa o tempo e o eixo vertical representa os animes que são assistidos ao mesmo tempo.</p>
        <p>Os números em cada barra representam o primeiro e último episódios planejados naquele momento. Se uma barra for listrada significa que há um intervalo entre cada episódio. As cores das barras são pseudo-aleatórias, baseadas no nome do anime.</p>
        <p>Eu tento organizar meu planejamento para reduzir repetições e monotonia. Dessa forma evito otimizar tanto que assistir anime deixa de ser divertido.</p>
        <p>Os gêneros são os do AniList. Animes cujos dados ainda não foram sincronizados com o AniList ou entradas que não são animes não têm informação de gênero e aparecem em cinza. Essas são as cores usadas pelos gêneros:</p>
        <div
          v-for="genre of genresReversed"
          :style="{backgroundColor: genre.color, color: genre.textColor}"
          class="genre-colors"
          key="genre.id"
        >{{ genre.name }} - {{ genre.count }} {{ genre.count === 1 ? 'anime' : 'animes' }}</div>
      </div>
    </transition>
    <div class="season-area" ref="seasonArea"
      @scroll="handleScroll">
      <div class="season-area-scroller" :style="{height: (lastRow * 25) + 'px'}">
        <div class="last-pushed" v-if="lastPushed" :style="{
          top: (lastPushed[1] * 25) + 'px',
          left: (lastPushed[0] * 25) + 'px'
        }">
          <div class="last-pushed_left" :style="{
            height: 'calc(100vh - ' + (lastPushed[1] * 25 + 42) + 'px)'
          }"></div>
          <div class="last-pushed_right" :style="{
            height: (lastPushed[1] * 25) + 'px'
          }"></div>
        </div>
        <div
          v-for="annotation in annotations"
          class="annotation"
          :style="{
            top: (annotation.y * 25) + 'px',
            left: (annotation.x * 25) + 'px',
          }"
        >{{ annotation.text }}</div>
        <div class="history-mark" v-for="mark in historyMarks"
          :title="mark.title"
          :style="{left: (mark.row * 25) + 'px'}"
        >{{ mark.date }}</div>
        <div class="season" v-for="season in seasons"
          v-handle-intersection="{active: season.loops > 18 && season.labelPosition === 'inside'}"
          :title="season.genreNames"
          :style="{
            top: (season.orderIndex * 25 - 1) + 'px',
            left: (season.start * 25 - 1) + 'px',
            width: (season.loops * 25 - 9) + 'px',
            backgroundColor: season.bgColor,
            backgroundImage: season.skipPerLoop > 0 ? ('repeating-linear-gradient(90deg, transparent 0px, transparent 25px,' +
              'rgba(255, 255, 255, 0.75) 25px, rgba(255, 255, 255, 0.75) ' + (season.skipPerLoop * 25 + 25) + 'px)') : '',
            color: season.textColor
          }">
          <span>{{ season.firstEpisode }}</span>
          <span :class="{
            'name': true,
            ['name-' + season.labelPosition]: true
          }"  :style="season.labelStyle">
            <a v-if="season.url" target="_blank" :href="season.url">{{ season.anime }}</a>
            <span v-else>{{ season.anime }}</span>
          </span>
          <span v-if="season.loops > 1">{{ season.episodeCount }}</span>
        </div>
      </div>
    </div>
  </div>

  <script src="main.js" type="module"></script>
</body>
</html>
