<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <title>Planejamento de Animes</title>
  <script src="https://unpkg.com/vue@2.4.4/dist/vue.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="app" v-cloak>
    <div class="fixed-menu">
      <!-- <button @click="sidebar = 1">Recomendar anime</button> -->
      <button @click="sidebar = 2">Ajuda</button>
    </div>
    <transition name="slide-fade">
      <div class="sidebar" v-if="sidebar === 1">
        <h1>Recomendar anime</h1>
        <p>Qual anime recomenda?</p>
        <input v-model="recommendedAnime" :disabled="recommendedWorking">
        <button @click="sendRecommendedAnime" :disabled="recommendedWorking">Enviar recomendação</button><br>
        <p>{{ recommendedMessage }}</p>
        <hr><br>
        <button @click="sidebar = null">Fechar</button>
      </div>
    </transition>
    <transition name="slide-fade">
      <div class="sidebar" v-if="sidebar === 2">
        <h1>Ajuda</h1>
        <p>Este planejamento funciona de forma parecida com um gráfico de Gantt: cada barra representa um anime e está posicionado na ordem que foi ou será assistido.</p>
        <p>O eixo horizontal representa o tempo e o eixo vertical representa os animes que são assistidos ao mesmo tempo.</p>
        <p>Os números em cada barra representam o primeiro e último episódios planejados naquele momento. Se uma barra for listrada significa que há um intervalo entre cada episódio. As cores das barras são pseudo-aleatórias, baseadas no nome do anime.</p>
        <p>Eu tento organizar meu planejamento para reduzir repetições e monotonia. Dessa forma evito otimizar tanto que assistir anime deixa de ser divertido.</p>
        <button @click="sidebar = null">Fechar</button>
      </div>
    </transition>
    <div class="season-area" ref="seasonArea"
      @scroll="handleScroll">
      <div class="season-area-scroller" :style="{height: (lastRow * 25) + 'px'}">
        <div class="last-pushed" v-if="lastPushed" :style="{
          top: (lastPushed[1] * 25) + 'px',
          left: (lastPushed[0] * 25) + 'px'
        }">
          <div class="last-pushed_left" :style="{
            height: 'calc(100vh - ' + (lastPushed[1] * 25 + 42) + 'px)'
          }"></div>
          <div class="last-pushed_right" :style="{
            height: (lastPushed[1] * 25) + 'px'
          }"></div>
        </div>
        <div
          v-for="annotation in annotations"
          class="annotation"
          :style="{
            top: (annotation.y * 25) + 'px',
            left: (annotation.x * 25) + 'px',
          }"
        >{{ annotation.text }}</div>
        <div class="history-mark" v-for="mark in historyMarks"
          :title="mark.title"
          :style="{left: (mark.row * 25) + 'px'}"
        >{{ mark.date }}</div>
        <div class="season" v-for="season in seasons"
          v-handle-intersection="{active: season.loops > 18 && season.labelPosition === 'inside'}"
          :style="{
            top: (season.orderIndex * 25 - 1) + 'px',
            left: (season.start * 25 - 1) + 'px',
            width: (season.loops * 25 - 9) + 'px',
            backgroundColor: season.bgColor,
            backgroundImage: season.skipPerLoop > 0 ? ('repeating-linear-gradient(90deg, transparent 0px, transparent 25px,' +
              'rgba(255, 255, 255, 0.75) 25px, rgba(255, 255, 255, 0.75) ' + (season.skipPerLoop * 25 + 25) + 'px)') : '',
            color: season.textColor
          }">
          <span>{{ season.firstEpisode }}</span>
          <span :class="{
            'name': true,
            ['name-' + season.labelPosition]: true
          }" :style="{
            textShadow: season.skipPerLoop > 0 && season.labelPosition === 'inside' &&
              '0,1,2,3,4,5,6,7,8'.replace(/\d+/g, e =>
                `${2 * Math.sin(e * Math.PI / 4)}px
                ${2 * Math.cos(e * Math.PI / 4)}px
                ${season.bgColorAlt}`
              )
          }">
            <a v-if="season.anilistId" target="_blank"
              :href="'https://anilist.co/anime/' + season.anilistId"
            >{{ season.anime }}</a>
            <span v-else>{{ season.anime }}</span>
          </span>
          <span v-if="season.loops > 1">{{ season.episodeCount }}</span>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinycolor/1.1.2/tinycolor.min.js"></script>
  <script src="main.js"></script>
</body>
</html>
